.event-box-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.event-box {
	background-color: #B6DEC8;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
	margin: 10px;
	padding: 15px;
	width: 30%;
}

.event-box h2 {
	margin-top: 0;
}

.event-box h3 {
	color: #666;
	margin-bottom: 10px;
}

.event-box p {
	margin: 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}