*{
    transition: all .2s linear;
}

body {
    margin: 0 auto;
    padding: 0;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

#logo {
    display: flex;
    position: fixed;
    max-height: 75px;
    justify-content: center;
    align-items: center;
    z-index: 15;
    border-radius: 10%;
    max-width: 100%;
}

#mainnav {
    margin-top: 100px;
    background-color: #edebe3; 
    padding: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#mainnav nav ul {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#mainnav nav ul li {
    display: inline-block;
    padding: 10px 30px;
}

#mainnav nav ul li:hover {
    background-color: white;
}

#mainnav nav a {
    text-decoration: none;
    color: darkgreen; 
}

#mainnav main {
    margin-top: 60px; 
}

#DonateButton {
    margin-top: 100px;
    margin-left: 40px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 700px;
    background-color: green;
}

.swiper {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.swiper .imgDonate{
    position: absolute;
    padding: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color:#be9b7b;
    color: white;
    border: 2px #4caf50;
    border-radius: 12px ;
    cursor: pointer;
    font-size: 35px;
    top: 600px;
    left: 800px;
    opacity: 1;
}

.swiper .imgDonate:hover{
    border: 2px #4CAF50;
    color: #008080;
    background-color: #b2d8d8;
}

.swiper img {
    max-width: 2800px;
    max-height: 900px;
    object-fit: contain;
    width: 100%;
    height: 700px;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.swiper img.active {
    opacity: 1;
}

#AboutUs {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 250px 25px;
    padding-top: 150px;
}

#AboutUs img{
    width: 100%;
    height: 100%;
}

#AboutUs h1,p,a {
    margin: 30px;
    color: #fff4e6;
}

#AboutUs td{
    background-color: #854442;
}

.LearnMore {
    float: right;
    margin-top: 10%;
}

#Events h1{
    display:inline;
    margin-left: 600px;
    padding-top: 150px;
}

.eventbox {
    width: 550px;
    height: 600px;
    background-color: #be9b7b;
    margin: 25px;
    border: 0.2px solid #333;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    place-content: center;
}

.eventbox img {
    order: -1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.event_image {
    width: 550px;
    height: 300px;
    max-width: 600px;
    object-fit: contain;
    overflow: hidden;
}

figcaption {
    width: 150px;
    height: 350px;
    margin: 10px;
}

.container a {
    color: #8d5524;
}

hr {
    margin: 0;
}

h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.HistoricalEvent {
    background-color: #66492f;
    width: 80%;
    height: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    border: 1.5px solid #fff;
}

.HistoricalEvent:nth-child(even) {
    flex-direction: row;
}

.HistoricalEvent img {
    width: 30%;
    max-height: 300px;
    height: auto;
}

.HistoricalEvent h3{
    text-align: center;
    padding: 20px;
    flex-grow: 1;
}

.HistoricalEvent p{
    text-align: center;
    padding: 20px;
    flex-grow: 1;
}

#donation {
    margin: 300px 30px;
}

#donation h1{
    height: 50px;
    padding-top: 150px;
}

#donationForm {
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 10px;
    background-color: #dec2cb;
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #dec2cb;
    color: beige;
}

input:focus {
    color: #ff8b94;
    outline: none;
}

#donationForm label{
    color: #854442;
}

#donation h1{
    color: #854442;
}

button {
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

input {
    border: none;
    border-bottom: 1px solid;
}

input :focus{
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 10px;
    text-align: right;
}

.donate {
    background-color: #be9b7b;
    color: beige;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.donate:hover {
    background-color: wheat;
    color: #45a049;
}

footer {
    background-color: #4b3832;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h2 {
    color: #be9b7b;
    margin-left: 30px;
}

.social-icon img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    background-color: #4b3832;
}

.login-button {
    background-color: #be9b7b;
    color: beige;
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    right: 30px;
    z-index: 10;
}

.Profile-button {
    background-color: #be9b7b;
    color: green;
    padding: 10px 15px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.login-button:hover {
    background-color: #ffdbac;
    color: #45a049;;
}

.Profile-button:hover {
    background-color: #45a049;
    color: white;
}

#loginButton{
    background-color: beige;
    position: fixed;
    width: 100%;
    padding-bottom: 80px;
    z-index: 9;
}

.logo{
    width: 0;
    height: 0;
}

#mainnav, .eventbox, #DonateButton, .swiper .imgDonate, #AboutUs table, #donationForm, .donate, footer, .login-button, .Profile-button, #loginButton {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

button, input[type="button"], input[type="submit"] {
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}

img {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

.eventbox, #DonateButton, #AboutUs table, .donate,
button, input[type="button"], input[type="submit"],
img {
    transition: transform 0.2s ease-in-out;
}

/* Define the hover effect */
.eventbox:hover, #DonateButton:hover, #AboutUs table:hover,.donate:hover
button:hover, input[type="button"]:hover, input[type="submit"]:hover,
img:hover {
    transform: scale(1.05);
}