:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
<<<<<<< Updated upstream
    background: linear-gradient(-45deg, #85715f, #b49f8e, #d6c5b0, #f3f3d4);
=======
    background: linear-gradient(-45deg, #a4907c, #c8b6a6, #f1dec9, #faf5ef);
>>>>>>> Stashed changes
    background-size: 400% 400%;
    animation: gradient 15seaseinfinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
